
@using RecipesWebApp.Models
@model RecipeInputViewModel
@{
    ViewBag.Title = "Create";
}
<h2 class="text-center">ДОБАВИ РЕЦЕПТА</h2>
@using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <div id="custom-form">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 label-create-form", @style = "display: inline-block; text-align: right" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-lg", @style = "width: 500px" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 label-create-form", @style = "display: inline-block; text-align: right" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, 10, 80, new { htmlAttributes = new { @class = "form-control input-lg", @style = "width: 500px" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2 label-create-form", @style = "display: inline-block; text-align: right" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Type,
                            new List<SelectListItem> {
                                new SelectListItem {Text = "Предястие", Value="Предястие" },
                                new SelectListItem {Text = "Основно ястие", Value="Основно ястие" },
                                new SelectListItem {Text = "Десерт", Value="Десерт" } }, "--Избери категория--", new { htmlAttributes = new { @class = "form-control input-lg" } })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "width: 500px" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SelectProducts, htmlAttributes: new { @class = "control-label col-md-2 label-create-form", @style = "display: inline-block; text-align: right" })
                <div class="col-md-10">
                    <div style="width:500px; border: 1px solid #cccccc; border-radius: 5px; overflow-y: scroll; height:110px">
                        @for (int i = 0; i < Model.SelectProducts.Count(); i++)
                        {

                            <div class="checkbox" style="padding-left:30px">
                                @Html.HiddenFor(model => model.SelectProducts[i].Value)
                                @Html.HiddenFor(model => model.SelectProducts[i].Text)
                                @Html.CheckBoxFor(model => model.SelectProducts[i].Selected)
                                <span>@Html.DisplayFor(model => model.SelectProducts[i].Text)</span>
                            </div>

                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.SelectProducts, "", new { @class = "text-danger", @style = "width: 500px" })
                </div>
            </div>
            <div>
                <div>
                    <ul id="productsList"></ul>
                </div>
                <div>
                    @Html.TextBox("ProductName", null, new { @id = "productText", @class = "form-control", @style = "width: 500px" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input onclick="addItem()" id="addProduct" type="button" value="Добави продукт" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.newProduct, new { @id = "newProducts" })
                <script>
                    function addItem() {
                        let text = $('#productText').val();
                        addItemToLIst(text);
                        $('#productText').val('');
                        let input = $('#newProducts')
                        input.val(input.val() + text + '&');
                    }
                    function addItemToLIst(text) {
                        let li = $('<li>')
                        .append($("<span>").text(text));
                        $('#productsList').append(li);
                    }
                </script>
                <div>
                    <input type="file" id="asd" name="ChoosenFile" />
                    @*<script>
                        File.prototype.convertToBase64 = function (callback) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                callback(e.target.result)
                            };
                            reader.onerror = function (e) {
                                callback(null);
                            };
                            reader.readAsDataURL(this);
                        };

                        $("#asd").on('change', function () {
                            var selectedFile = this.files[0];
                            selectedFile.convertToBase64(function (base64) {
                                alert(base64);
                            })
                        });
                    </script>*@
                </div>
               
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Създаване" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Обратно към категории", "Index")
</div>
