@model RecipesWebApp.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Създаване на парола";
}

<h2 class="text-center">@ViewBag.Title</h2>
<p class="text-info text-center">
    Вие нямате потребител/парола за достъп до този сайт. Моля регистрирайте се.
</p>
<div class="col-md-8 col-md-offset-2" style="background-image: url('/Images/login-background.jpg')">
    <div class="col-lg-8 col-md-offset-2">
    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" , style="margin-top: 20px"}))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Нова парола" class="btn btn-default" />
            </div>
        </div>
    }
        </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}