@model RecipesWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="background-image: url('/Images/login-background.jpg'); margin-top: 10px">

        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Създаване на нов акаунт</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", title = "Моля въведете вашият имейл адрес.", placeholder = "E-mail" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", title = "Please enter your password here.", placeholder = "Парола", text = "italic" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", title = "Please confirm your password here.", placeholder = "Повтори парола" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Регистрирай" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
