@using RecipesWebApp.Models
@model RecipeInputViewModel
@{
    ViewBag.Title = "Търсене по основен продукт";
}
<h2 class="text-center">Търсене по основен продукт:</h2>
<div class="container" style="background-image:url('../../Images/recipe-create-background.jpg'); border-radius: 5px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top:15px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal text-center">
                    <div id="custom-form">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(x => Model.Type)
                        <div>
                            @Html.TextBox("searchByProduct", null, new { @placeholder = "Въведи продукт", @class= "form-control pull-right" , @style="width: 80%" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 pull-right" style="margin-top:15px">
                                <input type="submit" value="Търсене" class="btn btn-success pull-right " />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div>
            </div>
            <a href="@Url.Action("Index")" class="btn btn-default pull-right"  style="margin-bottom:15px">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Обратно към категории
            </a>
        </div>
    </div>
</div>

