
@{
    ViewBag.Title = "ТЪРСЕНЕ";
}

<h2 class="text-center">ТЪРСЕНЕ В КАТЕГОРИЯ:</h2>


<div class="row" style="height: 500px">

    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center category-type">
        <div class="thumbnail">
            <a href='@Url.Action("Search", "Search",  new { type = "Предястие" })'>
                <h3>Предястия</h3>
                <img src='@Url.Content("~/Images/appetizer_small.jpg")' class="img-responsive thumbnail" alt="Основни ястия" />
                <div class="caption">
                    <p>Предястия от нас и нашите потребители. Зарадвай близките си с нещо ✓ново, ✓вкусно и ✓бързо приготвено.</p>
                    @Html.ActionLink("Търси", "Search", "Search", new { type = "Предястие" }, new { @class = "btn btn-default" })
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center category-type">
        <div class="thumbnail">
            <a href='@Url.Action("Search", "Search", new { type = "Основно ястие" })'>
                <h3>Основни ястия</h3>
                <img src='@Url.Content("~/Images/meal_small.jpg")' class="img-responsive thumbnail" alt="Основни ястия" />
                <div class="caption">
                    <p>Основни ястия от нас и нашите потребители. Зарадвай близките си с нещо ✓ново, ✓вкусно и ✓бързо приготвено.</p>
                    @Html.ActionLink("Търси", "Search", "Search", new { type = "Основно ястие" }, new { @class = "btn btn-default" })
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center category-type">
        <div class="thumbnail">
            <a href='@Url.Action("Search", "Search", new { type = "Десерт" })'>
                <h3>Десерти</h3>
                <img src='@Url.Content("~/Images/dessert_small.jpg")' class="img-responsive thumbnail" alt="Основни ястия" />
                <div class="caption">
                    <p>Десерти от нас и нашите потребители. Зарадвай близките си с нещо ✓ново, ✓вкусно и ✓бързо приготвено.</p>
                    @Html.ActionLink("Търси", "Search", "Search", new { type = "Десерт" }, new { @class = "btn btn-default" })

                </div>
            </a>
        </div>
    </div>
